.property-1default-item {
  position: relative;
  width: 330.6px;
  height: 201px;
  object-fit: cover;
}
.produ-name {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--gray);
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.produ-name-parent {
  align-self: stretch;
  border-top: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.property-1default1 {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0px;
  gap: var(--gap-mid);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-fira-code);
}
